<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- stdoutLogEnabled="true" permite capturar logs de erro no Azure -->
      <aspNetCore processPath="dotnet" arguments=".\PROJFACILITY.IA.dll" stdoutLogEnabled="true" stdoutLogLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
